@media screen and (max-width: 991.98px) {
    
  /* Main */
  .main-wrapper {
        width: 90%;
    }

    .main {
        display: block;
    }

   .main-img {
        display: block;
        width: 100%;
        height: auto;
    }
  
  /* Body */
  .card{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }
  
  /* formulir */
   .f-title{
    text-align: center;
  }
  .form{
    display: block;
  }
  .form p{
    margin-top:30px;
  }
  .submit{
    margin-top:30px;
  }

  /*Footer*/
  footer {
  text-align: center;
    padding: 20px 0; /* perubahan hanya disini */
  }
  footer .social-icon{
    display: block;
    text-align: center;
  }

  footer .menu{
    display: block;
    text-align: center;
  }
 footer p{
    text-align: center;
  }
  footer .ul li{
    text-align: center;
  }

  .container-body {
    max-width: 100%;
  }

  /* perubahan 01 *

  .services {
    float: none;
    display: block;
  }

  .card {
    border: 1px solid red;
  }
 
}