@media screen and (max-width: 991.98px) {

  /* Header   */
  .navbar{
    width: 90%;
  }

  .logo{
    font-size: 20px;
    color: white;
    top: 0;
    margin-right: 45px;/
  }

  .navbar ul li a{
    font-size: 12px;
    margin-right: 15px;
  }

  .navbar {
    justify-content: flex-start;
  }
  
  /* Main */
  .main-wrapper {
        width: 90%;
    }

    .main {
        display: block;
    }

   .main-img {
        display: block;
        width: 100%;
        height: auto;
    }
  .wrapper{
    padding: 0 10px;
  }
  /* Body */

  .container-body {
    max-width: 100%;
  }
  .services {
    float: none;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .tagline-p{
    padding-bottom: 10px;
  }
  .box-services{
  width: 100%;
  }
  .img-services img{
    width: 60%;
    padding: 25px;
  }
  .card{
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  
  /* formulir */
   .f-title{
    text-align: center;
  }
  .form{
    display: block;
  }
  .form p{
    margin-top:30px;
  }
  .submit{
    margin-top:30px;
  }

  /*Footer*/
  footer {
  text-align: center;
    padding: 20px 0; /* perubahan hanya disini */
  }
  footer .social-icon{
    display: block;
    text-align: center;
  }

  footer .menu{
    display: block;
    text-align: center;
  }
 footer p{
    text-align: center;
  }
  footer .ul li{
    text-align: center;
  }
}




@media screen and (max-width: 670px) {

  .container{
    width: 80%;
  }

  
  .logo{
    font-size: 20px;
    color: white;
    top: 0;
  }

  .navbar ul li{
    position: relative;
    display: inline-block;
    margin: auto 10px;
  }
  
  .navbar ul li a{
    font-size: 8px;
  }

  .navbar {
    justify-content: flex-start;
  }
}




