/*color palette = https://coolors.co/palette/03045e-0077b6-00b4d8-90e0ef-caf0f8*/

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


/* Header  */ 
header{
  background-color: rgba(56, 168, 239, 0.8);  
  height: 70px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
}

.navbar{
   width: 85%;
   margin: auto;
   padding: 20px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo{
   font-size: 30px;
   color: white;
   font-weight: bold;
   width: 120px;
   cursor: pointer;
}

.navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   position: relative;
   padding: 5px 5px;
}

.navbar ul li:active{
  background-color: rgba(151, 131, 94, 0.3);
  border-radius: 3px;
}

.navbar ul li a{
   font-size: 15px;
   color: white;
   font-weight: bold;
   text-transform: capitalize;
   display: block;
}

.navbar ul li::after{
   content: '';
   height: 3px;
   width: 0;
   background: green;
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
}

.navbar ul li:hover::after{
   width: 100%;
}

.label{
   width: 100%;
   font-size: 8px;
   margin-left: 350px;
   color: white;
   position: absolute;
}

.mx-auto{
   width: 800px;
}


/* Main  */
.main-wrapper {
    width: 1170px;
    margin: auto;
    padding-top: 90px;
    position: relative;
    font-family: 'Open Sans',sans-serif;
}

.main {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.main-img{
    height: auto;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom ul li{
  list-style: square;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

.main p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.main ul{
    padding-left: 20px;
}

.tengah {
    text-align: center;
    width: 100%;
}

/* Body  */

.container-body {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 80px;
}
tagline {
  
  width: 100%;
  font-family: sans-serif;
  color: #444;
  font-weight: 500;
}
h2.tagline {
  text-align: center;
}
.tagline span {
  color: skyblue;
}
h2.tagline2 {
  text-align: left;
  margin-top: 30px;
  color: skyblue;
}
.tagline-p {
  text-align: left;
  padding-top: 10px;
  font-weight: 500;
}
.services {
  height: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.box-services {
  width: 260px;
}
img {
  width: 260px;
  background-size: cover;
}
.deskripsi-services {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: -40px;
}
.card {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 18px;
  flex-direction: row;
}
.box-card {
  width: 260px;
  height: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.box-card img {
  width: 260px;
  height: 220px;
  opacity: 0.8;
  cursor: pointer;
}
.box-card img:hover {
  opacity: 1;
  transition: 0.5s;
  transform: scale(1.1);
}
.details-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 4px;
  color: #fff;
  text-align: center;
}
.details-card h2 {
  font-size: 34px;
}
.more-card {
  position: absolute;
  background-color: skyblue;
  width: 100%;
  padding: 10px;
  z-index: 1000;
  left: 0;
  bottom: 0;
  text-align: center;
  font-weight: 800;
  color: #fff;
  opacity: 0;
}





/* Formulir */
.formulir{
  margin:auto;
  width: 80%;
}
.f{
  display: block;
  width:80%;
  height: fit-content;
  margin: auto;
  padding:0 50px;
  background-image: linear-gradient(to bottom left, #00B4D8,#CAF0F8);
  background-size: cover;
  box-sizing: border-box;
  border: 1px solid rgb(230, 227, 227);
  box-shadow: 5px 5px 5px gray;
  border-radius: 25px;
}
.f-title{
  width: fit-content;
  color:white;
  font-size: 25px;
  font-weight:normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ft-span{
  color:black;
}
.f-hr{
  color:white;
  border: 1px solid white;
  width: 100%;
}
.form{
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: auto auto;
  gap:30px;
}
.form p{
  margin-bottom:10px;
  color:white;
}
.i-box{
  width:100%;
  height:30px;
  border-radius: 5px;
  border: none;
}
.f-radio{
  grid-column-start: 1;
  grid-column-end: 3;
  color:white;
}
.f-status option{
  color:white;
}
.submit{
  grid-column-start: 2;
  grid-column-end: 3;
  width:100%;
  height:40px;
  border-radius: 5px;
  font-family: "Lucida Grande";
  border:none;
  background-color:#90E0EF ;
  color:white;
  font-size: 18px;
}
.submit:hover{
  background-color:#00B4D8 ;
  color:rgb(255, 255, 255);
  cursor: pointer;
}



/* Footer  */
footer {
  position: relative;
  width: 100%;
  background: #1afbff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon, 
footer .menu {
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}

footer .social_icon li a {
  font: 2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}

footer .menu li a {
  font: 1.2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}